*.csv
*.parquet
.ipynb_checkpoints/
__pycache__/
*.pyc
.vscode/
.idea/
filename.txt
*.log
node_modules/
# Ignore data files
*.csv

Dataset/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
lendingclub_details